/* top-image */
.top_img img{
    height: 200px;
    background-position: center top;
    background-size: cover;
}
h1.inner{
    padding: 45px 20px;
    text-align: center;
    font-size: 60px;
    font-weight: 300;
    color: #333;
}
/* .inner */
.inner {
    max-width: 1310px;
    padding: 0 40px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}
.inner p{
    font-size: 14px;
    font-weight: 300;
    position: relative;
    top: 16px;
}
/* form */
.contact_form label{
    display: block;
    color: #494d50;
    font-size: 14px;
}
.contact_form,input[type=text],input[type=number],input[type=email]{
    width:33%;
    height: auto;
    font-size: 14px;
    outline: 0;
    box-shadow: none;
    margin-bottom: 10px;
    padding: 6px 12px;
    color: #494d50;
    /* border: 1px solid #8e98a2; */
}
.contact_form ,textarea{
    width:100% i !important;
    height: auto;
    font-size: 14px;
    outline: 0;
    box-shadow: none;
    margin-bottom: 10px;
    padding: 6px 12px;
    color: #494d50;
}

input[type=submit]{
    color: #555;
    height: auto;
    cursor: pointer;
    background: 0 0;
    box-shadow: none;
    font-size: inherit;
    font-weight: 400;
    line-height: 1.5;
    padding: 7px 41px;
    border-radius: 3px;
    border: 1px solid #ccc;
    background-color: #f7f7f7;
}
