.home h1{
    font-size: 43px;
    font-family: 'Lato', sans-serif;
    text-transform: capitalize;
    font-weight: 700;
    margin-top: 60px;
    text-align: center;
    color: #3A3A3A;
}
.home h3{
    font-size: 32px;
    text-transform: capitalize;
    font-weight: normal;
    text-align: center;
    color: #3A3A3A;
    opacity: .8;
    font-family: 'Lato', sans-serif;
}
.home p{
    font-size: 17px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    text-align: center;
    position: relative;
    top: 25px;
    color: #3A3A3A;
}
/* home_wrranty */
.home_wrranty{
    background: linear-gradient(180deg, #e8e8e8 0%, #fff 45%, #fff 100%);
    width: 100%;
    height: auto;
    margin-top: auto;
    margin-top: 90px;
}
.home_wrranty h1{
    font-size: 50px;
    font-weight: normal;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    margin: 0;
    padding: 100px 0 20px 0;
    color: #3A3A3A;
}
.home_wrranty p{
    font-size: 17px;
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    text-align: center;
    color: #333;
}
.inner_slider{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1310px;
    /* padding: 0 40px; */
    width: 100%;
    margin: 0 auto;
    position: relative;
}
.reason{
    text-align: center;
    padding: 0 5px;
    margin-bottom: 15px;
    flex: 1 1 20%;
    padding: 55px 18px 85px 0;
}
.reason .achi {
    margin: auto;
    display: block;
    width: 55px;
}
.achi:before {
    display: block;
    height: 0;
    padding-bottom: 100%;
}
.reason h4 {
    font-size: 19px;
    color: #2e4a58;
    opacity: 1;
    font-weight: 700;
    margin: 16px 0;
    text-transform: capitalize;
    font-family: 'Lato', sans-serif;
}
.reason p{
    margin: 0 auto;
    font-size: 15px;
    line-height: 23px;
    color: #333;
    word-spacing: 2px;
}
/* .home-advantage */

.home_advantage{
    background: linear-gradient(180deg, #e8e8e8 0%, #fff 45%, #fff 100%);
    width: 100%;
    height: auto;
    margin-top: auto;
}
.home_advantage h3{
    font-size: 47px;
    font-weight: normal;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    margin: 0;
    padding: 100px 0 20px 0;
    color: #3A3A3A;
}
.home_advantage p{
    font-size: 17px;
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    text-align: center;
    color: #333;
    width: 86%;
    margin: 0 auto;
}
.advantage_reason{
    display: inline-block;
    float:left;
    width: 50%;
    text-align: center;
}
.advantage_reason h4{
    font-size: 14px;
    color: #2e4a58;
    opacity: 1;
    font-weight: 700;
    margin: 16px 0;
    font-family: 'Lato', sans-serif;
}
.inner_reason{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 40px 40px;
}
.advantage_reason .achis img{
    margin: auto;
    display: block;
    width: 100px;
}
/* contact_con */
.contact_con{
    text-align: center;
    padding: 50px;
}
.contact_con h3{
    font-size: 23px;
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    text-align: center;
    margin: 10px 0;
}
.contact_con p{
    width: 79%;
    margin: 0 auto;
    font-size: 17px;
}