.realstate h1{
    padding: 45px 20px;
    font-size: 72px;
    text-align: center;
    font-weight: 300;
}
section{
    display: block;
}
section::selection{
    background: #04A4CC;
    color: #FFF;
    text-shadow: none;
}
.contentbox0{
    padding: 50px 25px;
    border-radius: 5px;
    margin-bottom: 50px;
    border: 1px solid #00a1b8;
}
.contentbox0 h4{
    font-size: 20px;
    margin-bottom: 15px;
}
.contentbox1{
    padding: 50px 25px;
    border-radius: 5px;
    margin-bottom: 50px;
    border: 1px solid #00a1b8;
    display: none;
}
.contentbox2{
    padding: 50px 25px;
    border-radius: 5px;
    margin-bottom: 50px;
    border: 1px solid #00a1b8;
    display: none;
}
.orders__flex {
    display: flex;
    justify-content: flex-start;
    align-content: center;
}
.orders__flex.i-am .orders__flex-child:first-child {
    max-width: 200px;
}
.orders__flex.i-am .orders__flex-child {
    width: 100%;
    margin-right: 20px;
}
.article{
    display: block;
}
.contentbox2 span {
    display: block;
    margin-bottom: 10px;
}