
.realstate h1{
    padding: 45px 20px;
    font-size: 72px;
    text-align: center;
    font-weight: 300;
}
.homplan,.coverage,.answering,.blank_box,.listing_seller,.border-container,
.assitance,.Condominium,.baseprice,.constcall{
    padding: 50px 25px;
    border-radius: 5px;
    margin-bottom: 50px;
    border: 1px solid #00a1b8;
}
.orders{
    display: flex;
    justify-content: flex-start;
    align-content: center;
}
.order_flex:first-child{
    max-width: 165px;
}
.order_flex:last-child{
    max-width: 132px;
    margin-right: 0;
    margin-left: auto;
}
.order_flex{
    width: 100%;
    margin-right: 20px;
}
.order_col,.warantyorder{
    display: block;
    margin-bottom: 5px;
}
.order_sel{
    display: block;
    width: 149px;
    height: 31px;
    margin-left: 10px;
}
.square{
    background-color: #efefef;
}
.square h4{
        font-size: 18px;
        font-weight: 300;
}
.bestplan{
    padding: 50px 25px;
    border-radius: 5px;
    margin-bottom: 50px;
    border: 1px solid #00a1b8;
    display: flex;
}
.plan_system{
    max-width: 322px;
}
.select{
    display: block;
    width: 80px !important;
    margin: 0px 6px ;
}
.planside{
    display: flex;
    margin-left: 34px;
}
.click_here{
    width: 100%;
    max-width: 250px;
    margin-left: 21px;
}
em {
    font-size: 16px;
    font-style: italic;
    display: block;
    margin-top: 9px;
}
strong.greentxt {
    color: #6FA553;
    font-size: 16px;
}
strong.bluetxt {
    color: #00A1B8;
    font-size: 16px;
}
.baseprice_plan{
    width: 40%;
    text-align: left;
}
.baseprice_amnt{
    float: left;
    width: 11%;
    margin-left: 60px;
}
.base_price_plan{
    display: flex;
}
.warranty_order span{
    display: block;
    margin-bottom: 10px;
}



